<ion-view class="dark" title="Account">

    <ion-content has-header="true">
    <form>
        <label class="item item-input">
            <span class="input-label">Credit card</span>
            <input type="text" ng-model="account.credit_card">
        </label>
        <label class="item item-input">
            <div class="col"><label class="input-label">Expiration Date</label></div>
            <div class="col">
                <select ng-show=true ng-model="account.exp_year" ng-options="value for value in [2014,2015, 2016, 2017, 2018, 2019, 2020]"></select>
                / <select ng-show=true ng-model="account.exp_month" ng-options="value for value in [01,02,03,04,05,06,07,08,09,10,11,12]"></select>
            </div>
        </label>
        <div class="item input">
          <button class="button button-block button-positive" ng-click="updateAccount(account)">Save</button>
          <button class="button button-block" ng-click="cancel()">Cancel</button>
        </div>
    </form>
  </ion-content>
</ion-view>
