<ion-view title="left_menu" class="dark-bg">
    <ion-header-bar class="bar bar-header bar-dark">
        <h1 class="title">Feedbacks & Contribution</h1>
    </ion-header-bar>

    <ion-content class="dark-bg">

        <ion-list>

            <ion-item ui-sref="app.account" class="item-dark" menu-toggle="left">
                <span><img src="img/logo.png" class="logo-button"> Account</span>
            </ion-item>
            <ion-item ui-sref="app.profile" class="item-dark" menu-toggle="left">
                <span><i class="ion-person"></i> Profile</span>
            </ion-item>
            <ion-item ui-sref="app.settings" class="item-dark" menu-toggle="left">
                <span><i class="ion-gear-b"></i> Settings</span>
            </ion-item>
            <ion-item ng-click="logout()" class="item-dark" menu-toggle="left">
                <span><i class="ion-log-in"></i> Logout</span>
            </ion-item>


        </ion-list>
    </ion-content>
</ion-view>