
<ion-view class="dark login-background">
  <ion-content class="login-container">

    <div class="centered">
        <div class="login-logo"></div>
        <form ng-submit="doLogin()">
            <label class="item">
              <button class="button button-block button-positive" type="submit" ng-click="login()">Log in</button>
            </label>
        </form>
    </div>

  </ion-content>
</ion-view>

