<ion-side-menus enable-menu-with-back-views="false">

    <ion-side-menu-content>
    <ion-nav-bar class="bar-stable bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left" class="menu menu-left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>

  </ion-side-menu-content>

  <ion-side-menu side="left" class="menu menu-right">

    <ion-nav-view name="leftMenu"></ion-nav-view>

  </ion-side-menu>

  <ion-side-menu side="right">

      <ion-nav-view name="rightMenu"></ion-nav-view>

  </ion-side-menu>


</ion-side-menus>
