<ion-view class="dark" title="Profile">

    <ion-content has-header="true">
    <form ng-submit="updateProfile(profile)">
        <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="text" ng-model="profile.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="profile.username">
        </label>
        <label class="item item-input">
            <span class="input-label">First name</span>
            <input type="text" ng-model="profile.firstname">
        </label>
        <label class="item item-input">
            <span class="input-label">Age</span>
            <input type="text" ng-model="profile.lastname">
        </label>
        <label class="item item-input">
          <span class="input-label">City</span>
          <input type="text" ng-model="profile.city">
        </label>
        <div class="item input">
          <button class="button button-block button-positive" type="submit">Save</button>
            <button class="button button-block" ng-click="cancel()">Cancel</button>
        </div>
    </form>
  </ion-content>
</ion-view>
