<ion-view class="dark" title="Settings">

    <ion-content has-header="true">
    <form>
        <label class="item item-input item-select">
            <div class="input-label">
                Language
            </div>
            <select ng-model="language" ng-model="settings.language">
                <option>French</option>
                <option selected>English</option>
            </select>
        </label>
        <div class="item input">
          <button class="button button-block button-positive" ng-click="updateSettings(settings)">Save</button>
          <button class="button button-block" ng-click="cancel()">Cancel</button>
        </div>
    </form>
  </ion-content>
</ion-view>
