<ion-view title="{{storyline.title}}">

    <ion-header-bar class="bar bar-header bar-dark">
    </ion-header-bar>

    <ion-nav-buttons side="left">
        <button class="button button-icon" menu-toggle="left">
            <i class="icon ion-navicon"></i><i class="fa fa-area-chart"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon" menu-toggle="right">
            <i class="icon ion-navicon"></i><i class="fa fa-area-chart"></i>
        </button>
    </ion-nav-buttons>

    <ion-content has-header="true" id="pages_container">

        <ion-slide-box show-pager="false" on-slide-changed="slideChanged($index)" ng-init="updatePagesContent()">
            <ion-slide ng-repeat="p in storyline.pages">
                <div class="storyline-container">
                    <h1 ng-show="p.page==1">{{storyline.title}}</h1>
                    <div ng-bind-html="p.text"></div>
                </div>
            </ion-slide>
        </ion-slide-box>

    </ion-content>

    <ion-footer-bar align-title="left" class="bar-dark">
        <div class="row row-center">
            <div class="col">
                <div class="buttons">
                    <button class="button" ng-click="show()" ui-sref="app.storylines"><i class="ion-home"></i></button>
                    <button class="button" ng-click="show()"><img class="logo-button" src="img/logo.png"/> Tools</button>
                </div>
            </div>
            <div class="col">
                <div class="row row-center">
                    <button class="button button-page" ng-click="previousPage()"> <i class="ion-arrow-left-b"></i> </button>
                    <span class="storyline-pager"> {{storyline.currentPage}} / {{storyline.totalPage}} </span>
                    <button class="button button-page" ng-click="nextPage()"> <i class="ion-arrow-right-b"></i> </button>
                </div>
            </div>
            <div class="gallery-button-container">
                <button class="button" ng-click="openModal()"><i class="ion-images gallery-button"></i> </button>
            </div>
        </div>

    </ion-footer-bar>

</ion-view>



<script id="my-modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar>
            <h1 class="title">Images</h1>
            <button class="button button-light" side="right" ng-click="closeModal()"> <i class="ion-arrow-return-left"></i> Return</button>
        </ion-header-bar>
        <ion-content>
            <ion-slide-box show-pager="true">
                <ion-slide ng-repeat="image in storyline.gallery">
                    <div class="gallery-container">
                        <img src="{{image.url}}" width="100%"/>
                        <h2>{{image.title}}</h2>
                        <p>{{image.description}}</p>
                    </div>
                </ion-slide>
            </ion-slide-box>
        </ion-content>
    </ion-modal-view>
</script>