<ion-view title="left_menu">
    <ion-header-bar class="bar bar-header bar-dark">
        <h1 class="title">Feedbacks & Contribution</h1>
    </ion-header-bar>

    <ion-content>

        <ion-list>

            <ion-item>
                <h3>Rate this story line</h3>
                <span ng-repeat="item in [1,2,3,4,5]">
                    <i class="ion-ios7-star" ng-show="item <= storyline.score"></i>
                    <i class="ion-ios7-star-half" ng-show="r.score > item && storyline.score < item+1"></i>
                    <i class="ion-ios7-star-outline" ng-show="item >= storyline.score+1"></i>
                </span>
            </ion-item>

            <ion-item class="item-divider"><h3>Other storylines</h3></ion-item>

            <ion-item ng-repeat="s in storylines" ui-sref="app.storylines.storyline({key:s.key})" menu-toggle="left">
                <h3><i class="ion-android-book"></i> {{s.title}}</h3>
                <h4><i class="ion-person"></i> {{s.owner.username}}</h4>
                <h4><i class="ion-calendar"></i> {{s.created_ts | date:"yyyy/MM/dd"}}</h4>
                <div class="indicators">
                    <div class="boxed styles">{{s.language}} </div>
                    <div class="boxed likes"><i class="ion-thumbsup"></i> </div><span class="score_val"><b>{{s.rating | number:1}}</b></span>
                    <div class="boxed variants"><i class="ion-ios7-browsers"></i></div><span class="score_val"><b>{{s.scenes.length}}</b></span>
                    <div class="boxed contributors">words </div><span class="score_val"><b>{{s.words}}</b></span>
                    <div class="boxed styles"> rev</div> <span class="score_val"><b>{{s.revision}}</b></span>
                </div>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>