<ion-view title="Storylines">

    <ion-header-bar class="bar bar-header bar-dark">
    </ion-header-bar>

    <ion-nav-buttons side="left">
        <button class="button button-icon" menu-toggle="left">
            <i class="icon ion-navicon"></i><i class="fa fa-area-chart"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon" menu-toggle="right">
            <i class="icon ion-navicon"></i><i class="fa fa-area-chart"></i>
        </button>
    </ion-nav-buttons>

    <ion-content has-header="true">

        <ion-list>
            <ion-item ng-repeat="(k,s) in storylines" ui-sref="app.storylines.storyline({key:s.doc.key})" class="item-text-wrap item-padding" ng-show="toKeep.indexOf(k) > -1">

                <div class="storylines-content">
                    <span ><h2><b>{{s.doc.title}} </b></h2>
                    </span>
                    <div class="row row-center">

                        <div class="img-group">
                            <div class="thumb">
                                <img class="crop" src="img/storyline{{k+1}}.jpg" />
                            </div>
                        </div>
                        <div class="storylines-subcontent">
                            <h3><i class="ion-person"></i> {{s.doc.owner.username}}</h3>
                            <h5>created on {{s.doc.created_ts | date:"yyyy/MM/dd"}}</h5>

                                <span><small>Rating: </small></span>
                                <span><progress max="5" value="{{s.doc.rating}}" style="progress-style"></progress></span>
                                <span><small>{{s.doc.rating | number:1}} / 5</small></span>

                        </div>
                        <div class="arrow" ui-sref="app.offers.offer({offerId: r._id})">
                            <i class="ion-android-arrow-forward"></i>
                        </div>
                    </div>
                    <div class="indicators">
                        <div class="boxed styles">{{s.doc.language}} </div>
                        <div class="boxed likes"><i class="ion-thumbsup"></i> </div><span class="score_val"><b>{{s.doc.rating | number:1}}</b></span>
                        <div class="boxed variants"><i class="ion-ios7-browsers"></i> scenes </div><span class="score_val"><b>{{s.doc.scenes.length}}</b></span>
                        <div class="boxed contributors">words </div><span class="score_val"><b>{{s.doc.words}}</b></span>
                        <div class="boxed styles"> rev</div> <span class="score_val"><b>{{s.doc.revision}}</b></span>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>

    <ion-footer-bar align-title="left" class="bar-dark">
        <div class="buttons">
            <button class="button" ng-click="show()"><img class="logo" src="img/logo.png" width="20px"/> Tools</button>
        </div>
        <h1 class="title"></h1>
        <!-- RIGHT button
        <div class="buttons" ng-click="doSomething()">
            <button class="button">Right Button</button>
        </div>
        -->
    </ion-footer-bar>
</ion-view>