<ion-view title="left_menu">
    <ion-header-bar class="bar bar-header bar-dark">
        <h1 class="title">Context</h1>
    </ion-header-bar>

    <ion-content>
        <ion-list>
            <div ng-repeat="s in styles">
                <ion-toggle class="item item-toggle" ng-model="selection[s.name]">
                    {{s.name}}
                    <label class="toggle toggle-assertive">
                        <input type="checkbox"  id="{{s.name}}">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </ion-toggle>
            </div>

        </ion-list>

        <button class="button button-block button-stable" ng-click="filter()" menu-toggle="right"><i class="ion-funnel"></i> Filter</button>
        <button class="button button-block button-stable" ng-click="filter(-1)" menu-toggle="right"> Reset</button>

    </ion-content>
</ion-view>