/* Empty. Add your own CSS if you like */

progress:not([value]) {
    /* Styling here */
}

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
    height:10px;
}

progress[value]::-webkit-progress-value {

    background-image:
    -webkit-linear-gradient(0deg,
    transparent 33%, rgba(0, 0, 0, .1) 33%,
    rgba(0,0, 0, .1) 66%, transparent 66%),
    -webkit-linear-gradient(top,
    rgba(255, 255, 255, .25),
    rgba(0, 0, 0, .25)),
    -webkit-linear-gradient(left, #175f86, #37a4ff);

    border-radius: 2px;
    background-size: 0px 0px, 100% 100%, 100% 100%;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.img-group{
    min-width: 66px;
    display:inline-block;
}

.crop{
    width:60px;
    height:60px;
    overflow:hidden;
}

.thumb {
    border:1px solid #dedede;
    padding: 4px 4px 0px 4px;
    margin-left:-4px;
}

.boxed {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding:2px 5px 0 5px;
    display: inline-block;
    margin: 4px 4px 4px 0px;
    font-size:smaller;
}

.score_val{
    margin-right: 4px;
    font-size:small;
}

.likes {
    background-color: #4A87EE;
    color:#fff;
}

.styles {
    background-color: #175f86;
    color:#fff;
}

.variants {
    background-color: #1a89b8;
    color:#fff;
}

.contributors {
    background-color: #167e86;
    color:#fff;
}

.updates {
    background-color: #4A87EE;
    color:#fff;
}

progress{
    display: inline-block;
    margin: 0px;
    width: 50%;
    margin: 0 0 2px 0;
}

.indicators{
    border-top: solid #eee 1px;
    padding: 0px 0 0px 10px;
    background-color: #fcfcfc;
}

.storylines-content{
    width:100%;
}

.storylines-subcontent{
    width:100%;
    margin: 0 0 0 10px;
}

.arrow{
    float:right;
}

.logo{
    padding: 5px 0 0 0;
}

.item-complex .item-content{
    padding: 10px 15px 10px 15px;
}

.storyline-container{
    padding: 0.6em;
    text-align: justify;
    text-justify: inter-word;
    font-size:1em;
    height: 100vh;
    width: 100vw;
}

.logo-button{
    width:1em;
}

.gallery-container{
    padding: 0.6em;
    text-align: justify;
    text-justify: inter-word;
    font-size:1em;
    width: 100vw;
}

.gallery-button{
    color:white;
    font-size:1.8em;
}

.gallery-button-container{
    float: right;
}

.storyline-pager{
    margin: 0 0.5em 0 0.5em;
    font-size:x-small;
}

.button-page{
    width: 2.5em;
}

.login-logo{
    background-image: url('/img/pagemesh_logo_dark_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% auto;
    height:5em;
}

.login-container{
    height:100%;
}

.centered{
    top:50%;
    margin-top:50%;
}

.login-background{

    background-color: #1c1c1c;
    background-image:
    linear-gradient(
            #474747, #868686
    );

    color:#fff;
    border:none;
}

.login-background span{
    background-color: transparent;
    color:#fff;
}

.login-background form{
    background-color: transparent;
    color:#fff;
    border: none;
}

.login-background label{
    background-color: transparent;
    color:#fff;
    border: none;
}

.login-background input[type="text"]{
    background-color: transparent;
    color:#fff;
    flex: 1 0 50%;
    border:solid;
    border-width:thin;
    border-color: #999;
    padding: 0 10px 0 10px;
}

.login-background input[type="password"]{
    background-color: transparent;
    color:#fff;
    flex: 1 0 50%;
    border:solid;
    border-width:thin;
    border-color: #999;
    padding: 0 10px 0 10px;
}